<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BossZhangjiao_injured_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,234}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{200,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_injured_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,234},{188,228}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{188,228}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_injured_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{180,232}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{180,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_injured_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{174,234}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,21},{174,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_injured_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,0},{206,218}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,37},{206,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_injured_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,220},{214,218}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,37},{214,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_injured_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,218},{216,212}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,43},{216,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_injured_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,0},{200,216}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,38},{200,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_injured_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,0},{214,220}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{214,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_injured_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{222,224}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{222,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_injured_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,234},{216,226}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{216,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_injured_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,224},{208,224}}</string>
                <key>offset</key>
                <string>{-24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{208,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossZhangjiao_injured.png</string>
            <key>size</key>
            <string>{1224,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4617f1246d2f7c05f22c4e24bdbbea63:1/1$</string>
            <key>textureFileName</key>
            <string>BossZhangjiao_injured.png</string>
        </dict>
    </dict>
</plist>
