<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl_normal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,426},{150,210}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,36},{150,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,426},{150,210}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,36},{150,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,214},{150,210}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,36},{150,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,214},{150,210}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,36},{150,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,214},{150,210}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{150,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{150,210}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,36},{150,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,636},{150,208}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,38},{150,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,426},{150,208}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,38},{150,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,208}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,38},{152,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{150,208}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,38},{150,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{150,210}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,36},{150,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{150,210}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,36},{150,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{148,210}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,36},{148,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>girl_normal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{150,210}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,36},{150,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Girl_normal.png</string>
            <key>size</key>
            <string>{610,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54fa49bab480667edadcfd1021d0f8a6:1/1$</string>
            <key>textureFileName</key>
            <string>Girl_normal.png</string>
        </dict>
    </dict>
</plist>
