<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HuangjinSiheng_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,0},{182,212}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{182,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,212},{180,210}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{180,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,212},{180,210}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{180,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,0},{182,212}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,40},{182,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,0},{180,212}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{180,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{182,212}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{182,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{184,212}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{184,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{186,212}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{186,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,210},{186,210}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{186,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{186,210}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{186,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{186,210}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{186,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,212},{184,210}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{184,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,212},{182,210}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{182,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HuangjinSiheng_normal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,212},{182,210}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{182,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuangjinSiheng_normal.png</string>
            <key>size</key>
            <string>{1282,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d4f64414a5529537b1666903e8326a0:1/1$</string>
            <key>textureFileName</key>
            <string>HuangjinSiheng_normal.png</string>
        </dict>
    </dict>
</plist>
