<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{26,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{26,50}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,0},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{38,50}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>numpic.png</string>
            <key>size</key>
            <string>{368,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a5bbc5fd2d3127b26e131376d6f675d:1/1$</string>
            <key>textureFileName</key>
            <string>numpic.png</string>
        </dict>
    </dict>
</plist>
