<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sibao_injured_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{174,206}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{174,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_injured_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{184,212}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,40},{184,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_injured_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,0},{178,210}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,41},{178,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_injured_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,208},{174,208}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{174,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_injured_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,214},{176,204}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{176,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_injured_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,212},{180,206}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{180,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_injured_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,210},{192,208}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,42},{192,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_injured_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{184,204}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,46},{184,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_injured_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,206},{174,202}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,49},{174,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_injured_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,0},{174,208}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{174,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_injured_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{180,210}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{180,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_injured_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{186,214}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{186,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sibao_injured.png</string>
            <key>size</key>
            <string>{1082,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5fdf1e7bb68c51f35835211834354bd:1/1$</string>
            <key>textureFileName</key>
            <string>Sibao_injured.png</string>
        </dict>
    </dict>
</plist>
