<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sibao_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,0},{176,204}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,46},{176,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,814},{174,204}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,47},{174,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,816},{174,204}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,46},{174,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,610},{174,204}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,46},{174,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,406},{174,204}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,46},{174,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,610},{174,204}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{174,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,406},{172,204}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{172,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,406},{174,204}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,46},{174,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,612},{174,204}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,46},{174,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,612},{174,204}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,46},{174,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,814},{174,202}}</string>
                <key>offset</key>
                <string>{-10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,48},{174,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,612},{176,204}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,47},{176,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,204},{176,202}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,48},{176,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,204},{178,200}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{178,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{180,202}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,48},{180,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,204}}</string>
                <key>offset</key>
                <string>{-14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,46},{182,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{178,204}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,46},{178,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{176,204}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,46},{176,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,204},{176,202}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{176,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,204},{176,202}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{176,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{176,206}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,45},{176,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,406},{174,206}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,45},{174,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,816},{174,206}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,45},{174,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,406},{174,206}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{174,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{174,204}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,46},{174,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,816},{174,206}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,45},{174,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sibao_normal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,816},{174,206}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,45},{174,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sibao_normal.png</string>
            <key>size</key>
            <string>{1044,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba448d89395ae48b6e021f3056e144cb:1/1$</string>
            <key>textureFileName</key>
            <string>Sibao_normal.png</string>
        </dict>
    </dict>
</plist>
