<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Siha_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1392},{190,222}}</string>
                <key>offset</key>
                <string>{-7,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,266},{190,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1680},{224,276}}</string>
                <key>offset</key>
                <string>{49,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,177},{224,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1682},{228,262}}</string>
                <key>offset</key>
                <string>{50,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,185},{228,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1392},{232,258}}</string>
                <key>offset</key>
                <string>{50,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,191},{232,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1652},{234,238}}</string>
                <key>offset</key>
                <string>{51,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,214},{234,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1172},{250,218}}</string>
                <key>offset</key>
                <string>{56,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,236},{250,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,982},{258,188}}</string>
                <key>offset</key>
                <string>{59,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,258},{258,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1204},{266,186}}</string>
                <key>offset</key>
                <string>{61,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,274},{266,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1742},{270,182}}</string>
                <key>offset</key>
                <string>{63,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,291},{270,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,192},{272,174}}</string>
                <key>offset</key>
                <string>{64,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,281},{272,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2},{278,188}}</string>
                <key>offset</key>
                <string>{68,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,272},{278,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,690},{168,240}}</string>
                <key>offset</key>
                <string>{13,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,231},{168,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1534},{280,206}}</string>
                <key>offset</key>
                <string>{68,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,257},{280,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1616},{282,216}}</string>
                <key>offset</key>
                <string>{68,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,240},{282,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1322},{284,210}}</string>
                <key>offset</key>
                <string>{69,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,240},{284,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,724},{290,204}}</string>
                <key>offset</key>
                <string>{70,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,241},{290,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,930},{294,198}}</string>
                <key>offset</key>
                <string>{72,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,242},{294,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1130},{298,190}}</string>
                <key>offset</key>
                <string>{70,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,252},{298,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,982},{300,180}}</string>
                <key>offset</key>
                <string>{71,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,264},{300,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1834},{306,172}}</string>
                <key>offset</key>
                <string>{73,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,273},{306,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,208},{310,180}}</string>
                <key>offset</key>
                <string>{75,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,272},{310,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,208},{320,186}}</string>
                <key>offset</key>
                <string>{79,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,273},{320,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,390},{230,262}}</string>
                <key>offset</key>
                <string>{42,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,200},{230,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1008},{324,194}}</string>
                <key>offset</key>
                <string>{81,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,272},{324,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,810},{326,196}}</string>
                <key>offset</key>
                <string>{83,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,271},{326,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,612},{328,196}}</string>
                <key>offset</key>
                <string>{83,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,271},{328,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,414},{328,196}}</string>
                <key>offset</key>
                <string>{84,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,271},{328,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,214},{328,198}}</string>
                <key>offset</key>
                <string>{84,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,270},{328,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{328,198}}</string>
                <key>offset</key>
                <string>{84,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,270},{328,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{328,198}}</string>
                <key>offset</key>
                <string>{84,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,270},{328,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{328,198}}</string>
                <key>offset</key>
                <string>{84,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,271},{328,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{348,198}}</string>
                <key>offset</key>
                <string>{74,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,271},{348,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{346,206}}</string>
                <key>offset</key>
                <string>{75,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,270},{346,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,396},{230,280}}</string>
                <key>offset</key>
                <string>{54,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,190},{230,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{348,204}}</string>
                <key>offset</key>
                <string>{76,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,275},{348,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{350,204}}</string>
                <key>offset</key>
                <string>{76,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,276},{350,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{346,204}}</string>
                <key>offset</key>
                <string>{76,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,275},{346,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{346,210}}</string>
                <key>offset</key>
                <string>{74,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,268},{346,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,216}}</string>
                <key>offset</key>
                <string>{73,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,262},{344,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{342,208}}</string>
                <key>offset</key>
                <string>{71,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,253},{342,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{332,198}}</string>
                <key>offset</key>
                <string>{71,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,246},{332,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1204},{322,186}}</string>
                <key>offset</key>
                <string>{70,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,240},{322,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,368},{314,174}}</string>
                <key>offset</key>
                <string>{70,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,234},{314,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,544},{308,178}}</string>
                <key>offset</key>
                <string>{71,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,230},{308,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1392},{226,288}}</string>
                <key>offset</key>
                <string>{58,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,185},{226,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{300,132}}</string>
                <key>offset</key>
                <string>{72,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,266},{300,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,724},{94,116}}</string>
                <key>offset</key>
                <string>{9,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,272},{94,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1172},{86,112}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,265},{86,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,208},{46,44}}</string>
                <key>offset</key>
                <string>{-9,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,322},{46,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,982},{40,40}}</string>
                <key>offset</key>
                <string>{-8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,306},{40,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,932},{36,36}}</string>
                <key>offset</key>
                <string>{-9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,289},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,634},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,678},{214,296}}</string>
                <key>offset</key>
                <string>{52,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,177},{214,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,396},{216,292}}</string>
                <key>offset</key>
                <string>{49,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,175},{216,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,690},{216,290}}</string>
                <key>offset</key>
                <string>{48,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,173},{216,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siha_dead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1392},{218,286}}</string>
                <key>offset</key>
                <string>{48,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,172},{218,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Siha_dead.png</string>
            <key>size</key>
            <string>{1678,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8de13ab623c31d6d3444765fc69743f:1/1$</string>
            <key>textureFileName</key>
            <string>Siha_dead.png</string>
        </dict>
    </dict>
</plist>
