<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Siheng_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,230},{182,226}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{182,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,230},{180,224}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{180,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{180,226}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{180,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,230},{180,226}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{180,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{180,226}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{180,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{182,226}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{182,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{184,226}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{184,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,226}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{186,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,228},{186,224}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{186,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,224}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{186,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{186,224}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{186,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,230},{184,224}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{184,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,228},{182,224}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{182,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_normal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{182,224}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{182,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Siheng_normal.png</string>
            <key>size</key>
            <string>{1296,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbc419dfe9de36333d64e90860623966:1/1$</string>
            <key>textureFileName</key>
            <string>Siheng_normal.png</string>
        </dict>
    </dict>
</plist>
