<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sihei_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{178,222}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{178,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,222},{186,212}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{186,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,0},{174,206}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,46},{174,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,0},{166,202}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{166,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,214},{160,210}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,42},{160,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,202},{164,218}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{164,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{172,218}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{172,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,218},{168,214}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{168,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,220},{164,208}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,44},{164,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,0},{158,214}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,38},{158,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,0},{158,220}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{158,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,206},{170,224}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,30},{170,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{184,222}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{184,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Sihei_normal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{186,218}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{186,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sihei_normal.png</string>
            <key>size</key>
            <string>{1198,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27061efe75249ca1605b37f22315b1ad:1/1$</string>
            <key>textureFileName</key>
            <string>Sihei_normal.png</string>
        </dict>
    </dict>
</plist>
