<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Siheng_injured_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,232},{194,246}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{194,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_injured_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{200,240}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{200,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_injured_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,240},{200,246}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{200,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_injured_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,248}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{208,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_injured_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{216,228}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{216,228}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_injured_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,244},{226,210}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,45},{226,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_injured_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,242},{220,218}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,37},{220,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_injured_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,242},{218,226}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{218,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_injured_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{216,234}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{216,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_injured_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{214,238}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{214,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_injured_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{216,238}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{216,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Siheng_injured_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{212,236}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{212,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Siheng_injure.png</string>
            <key>size</key>
            <string>{1288,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01858d215b66e310544003e65b07137b:1/1$</string>
            <key>textureFileName</key>
            <string>Siheng_injure.png</string>
        </dict>
    </dict>
</plist>
