<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zf_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,188},{162,188}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,61},{162,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,748},{162,186}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,562},{162,186}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{162,188}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,61},{162,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,188},{162,188}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,61},{162,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{162,188}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,61},{162,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{162,188}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,61},{162,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,748},{162,186}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,562},{162,186}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,748},{162,186}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,186}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,63},{164,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,562},{162,186}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,376},{162,186}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zf_normal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,376},{162,186}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,63},{162,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangfei_normal.png</string>
            <key>size</key>
            <string>{486,934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05e559cd6e25e05d2eaabf9c85497eda:1/1$</string>
            <key>textureFileName</key>
            <string>zhangfei_normal.png</string>
        </dict>
    </dict>
</plist>
