<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sheet_256x256_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,647},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,432},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,217},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,217},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,647},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,432},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,217},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,2},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,2},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,2},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,647},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,432},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,217},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
		<key>sheet_256x256_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{213,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,213}}</string>
			<key>sourceSize</key>
			<string>{213,213}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zombi_lv1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4ce858e4d7306356f5474eaaf601eb4f:1/1$</string>
		<key>textureFileName</key>
		<string>zombi_lv1.png</string>
	</dict>
</dict>
</plist>
