<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BossZhangjiao_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,206},{184,206}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{184,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,218},{170,218}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,34},{170,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{170,218}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,34},{170,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,220}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,32},{170,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{174,216}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{174,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{178,212}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,40},{178,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,0},{184,204}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,48},{184,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,0},{188,204}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{188,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,0},{192,206}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{192,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,204},{186,204}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,48},{186,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,212},{178,210}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{178,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,212},{172,212}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,40},{172,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,216},{170,216}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{170,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>BossZhangjiao_normal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{170,216}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{170,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossZhangjiao_normal.png</string>
            <key>size</key>
            <string>{1252,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55fb5d1e92395de3297bb61d98cdfc44:1/1$</string>
            <key>textureFileName</key>
            <string>BossZhangjiao_normal.png</string>
        </dict>
    </dict>
</plist>
