<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>coinGetEffect_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,0},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,29},{70,70}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>coinGetEffect_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,0},{90,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,18},{90,92}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>coinGetEffect_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,0},{108,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,10},{108,108}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>coinGetEffect_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,0},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{120,120}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>coinGetEffect_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{124,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{124,126}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>getCoin.png</string>
		<key>size</key>
		<string>{512,126}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:df13bca1329ca2132bf65fe340d90ea4:1/1$</string>
		<key>textureFileName</key>
		<string>getCoin.png</string>
	</dict>
</dict>
</plist>
