<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HuangjinSiheng_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1572},{186,214}}</string>
                <key>offset</key>
                <string>{-3,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,276},{186,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1094},{230,242}}</string>
                <key>offset</key>
                <string>{53,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,180},{230,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1750},{234,236}}</string>
                <key>offset</key>
                <string>{52,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,186},{234,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1514},{234,236}}</string>
                <key>offset</key>
                <string>{52,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,194},{234,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1582},{234,222}}</string>
                <key>offset</key>
                <string>{50,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,216},{234,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1364},{234,208}}</string>
                <key>offset</key>
                <string>{48,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,237},{234,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1804},{246,188}}</string>
                <key>offset</key>
                <string>{52,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,259},{246,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1872},{250,172}}</string>
                <key>offset</key>
                <string>{53,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,277},{250,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1880},{252,168}}</string>
                <key>offset</key>
                <string>{55,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,294},{252,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1336},{256,178}}</string>
                <key>offset</key>
                <string>{57,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,282},{256,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1166},{260,198}}</string>
                <key>offset</key>
                <string>{59,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,273},{260,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1786},{180,240}}</string>
                <key>offset</key>
                <string>{20,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,234},{180,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,904},{268,218}}</string>
                <key>offset</key>
                <string>{61,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,258},{268,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,674},{274,230}}</string>
                <key>offset</key>
                <string>{65,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,240},{274,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,528},{280,226}}</string>
                <key>offset</key>
                <string>{67,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,238},{280,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,674},{288,218}}</string>
                <key>offset</key>
                <string>{69,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,239},{288,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,864},{292,214}}</string>
                <key>offset</key>
                <string>{71,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,237},{292,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,754},{298,208}}</string>
                <key>offset</key>
                <string>{71,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,246},{298,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,892},{304,202}}</string>
                <key>offset</key>
                <string>{72,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,254},{304,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1078},{312,194}}</string>
                <key>offset</key>
                <string>{75,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,263},{312,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,664},{318,204}}</string>
                <key>offset</key>
                <string>{78,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,261},{318,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,452},{322,212}}</string>
                <key>offset</key>
                <string>{81,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,260},{322,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,0},{218,268}}</string>
                <key>offset</key>
                <string>{41,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,194},{218,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{328,222}}</string>
                <key>offset</key>
                <string>{83,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,258},{328,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,452},{328,222}}</string>
                <key>offset</key>
                <string>{83,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,258},{328,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,442},{328,224}}</string>
                <key>offset</key>
                <string>{83,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,256},{328,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,226},{328,226}}</string>
                <key>offset</key>
                <string>{83,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,255},{328,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{328,226}}</string>
                <key>offset</key>
                <string>{83,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,255},{328,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,226},{328,226}}</string>
                <key>offset</key>
                <string>{83,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,255},{328,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,216},{328,226}}</string>
                <key>offset</key>
                <string>{83,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,255},{328,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,0},{328,226}}</string>
                <key>offset</key>
                <string>{83,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,255},{328,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{348,226}}</string>
                <key>offset</key>
                <string>{74,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,255},{348,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{346,226}}</string>
                <key>offset</key>
                <string>{75,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,255},{346,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,268},{222,260}}</string>
                <key>offset</key>
                <string>{49,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,192},{222,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1286},{348,204}}</string>
                <key>offset</key>
                <string>{76,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,275},{348,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,962},{350,204}}</string>
                <key>offset</key>
                <string>{76,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,276},{350,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1490},{346,204}}</string>
                <key>offset</key>
                <string>{76,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,275},{346,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,868},{346,210}}</string>
                <key>offset</key>
                <string>{74,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,268},{346,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,0},{344,216}}</string>
                <key>offset</key>
                <string>{73,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,262},{344,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1078},{342,208}}</string>
                <key>offset</key>
                <string>{71,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,253},{342,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,666},{332,198}}</string>
                <key>offset</key>
                <string>{71,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,246},{332,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1694},{322,186}}</string>
                <key>offset</key>
                <string>{70,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,240},{322,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1520},{314,174}}</string>
                <key>offset</key>
                <string>{70,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,234},{314,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1694},{308,178}}</string>
                <key>offset</key>
                <string>{71,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,230},{308,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1372},{216,256}}</string>
                <key>offset</key>
                <string>{52,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,187},{216,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1882},{300,132}}</string>
                <key>offset</key>
                <string>{72,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,266},{300,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1872},{94,116}}</string>
                <key>offset</key>
                <string>{9,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,272},{94,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1094},{86,112}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,265},{86,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,674},{46,44}}</string>
                <key>offset</key>
                <string>{-9,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,322},{46,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,718},{40,40}}</string>
                <key>offset</key>
                <string>{-8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,306},{40,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,226},{36,36}}</string>
                <key>offset</key>
                <string>{-9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,289},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1628},{212,254}}</string>
                <key>offset</key>
                <string>{50,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,178},{212,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1336},{220,246}}</string>
                <key>offset</key>
                <string>{50,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,176},{220,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1272},{224,248}}</string>
                <key>offset</key>
                <string>{52,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,174},{224,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>HuangjinSiheng_dead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1122},{228,250}}</string>
                <key>offset</key>
                <string>{52,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,172},{228,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuangjinSiheng_dead.png</string>
            <key>size</key>
            <string>{1597,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bbdc862c34fee86cee4f7876065e2e2:1/1$</string>
            <key>textureFileName</key>
            <string>HuangjinSiheng_dead.png</string>
        </dict>
    </dict>
</plist>
