<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{102,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Btn_battleStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{256,100}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>Btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Icon_battle_nameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,28},{180,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{180,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Icon_battle_nameBg_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{180,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{180,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>Icon_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,28},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Icon_starBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,28},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Loading_blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,0},{254,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{254,28}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>Loading_bloodBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,64},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ResourceImage.png</string>
            <key>size</key>
            <string>{868,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be29b6afaa0060a819fe9df7cd1af097:1/1$</string>
            <key>textureFileName</key>
            <string>ResourceImage.png</string>
        </dict>
    </dict>
</plist>
