<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Siheng_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1406},{184,234}}</string>
                <key>offset</key>
                <string>{-2,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,256},{184,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,908},{222,246}}</string>
                <key>offset</key>
                <string>{48,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,176},{222,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1100},{226,238}}</string>
                <key>offset</key>
                <string>{49,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,184},{226,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,908},{228,240}}</string>
                <key>offset</key>
                <string>{49,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,190},{228,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1146},{230,224}}</string>
                <key>offset</key>
                <string>{49,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,214},{230,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,890},{234,210}}</string>
                <key>offset</key>
                <string>{48,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,235},{234,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,950},{246,196}}</string>
                <key>offset</key>
                <string>{52,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,259},{246,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1178},{250,192}}</string>
                <key>offset</key>
                <string>{53,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,276},{250,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,990},{252,188}}</string>
                <key>offset</key>
                <string>{55,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,293},{252,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,812},{256,178}}</string>
                <key>offset</key>
                <string>{57,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,282},{256,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,710},{260,198}}</string>
                <key>offset</key>
                <string>{59,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,273},{260,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1406},{190,244}}</string>
                <key>offset</key>
                <string>{24,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,230},{190,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,488},{268,222}}</string>
                <key>offset</key>
                <string>{61,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,254},{268,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,654},{274,236}}</string>
                <key>offset</key>
                <string>{65,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,234},{274,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,258},{280,230}}</string>
                <key>offset</key>
                <string>{67,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,234},{280,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,588},{288,224}}</string>
                <key>offset</key>
                <string>{69,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,233},{288,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,436},{292,218}}</string>
                <key>offset</key>
                <string>{71,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,233},{292,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1288},{298,212}}</string>
                <key>offset</key>
                <string>{71,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,242},{298,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,616},{304,202}}</string>
                <key>offset</key>
                <string>{72,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,254},{304,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,422},{312,194}}</string>
                <key>offset</key>
                <string>{75,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,263},{312,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1086},{318,202}}</string>
                <key>offset</key>
                <string>{78,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,263},{318,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,876},{322,210}}</string>
                <key>offset</key>
                <string>{81,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,262},{322,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1370},{238,260}}</string>
                <key>offset</key>
                <string>{51,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,202},{238,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,218},{328,218}}</string>
                <key>offset</key>
                <string>{83,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,262},{328,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,204},{328,218}}</string>
                <key>offset</key>
                <string>{83,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,262},{328,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,0},{328,218}}</string>
                <key>offset</key>
                <string>{83,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,262},{328,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,656},{328,220}}</string>
                <key>offset</key>
                <string>{83,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,261},{328,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,436},{328,220}}</string>
                <key>offset</key>
                <string>{83,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,261},{328,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,216},{328,220}}</string>
                <key>offset</key>
                <string>{83,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,261},{328,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1282},{328,220}}</string>
                <key>offset</key>
                <string>{83,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,261},{328,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1062},{328,220}}</string>
                <key>offset</key>
                <string>{83,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,261},{328,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{348,220}}</string>
                <key>offset</key>
                <string>{74,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,261},{348,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{346,220}}</string>
                <key>offset</key>
                <string>{75,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,261},{346,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,0},{240,258}}</string>
                <key>offset</key>
                <string>{59,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,194},{240,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,0},{348,204}}</string>
                <key>offset</key>
                <string>{76,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,275},{348,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{350,204}}</string>
                <key>offset</key>
                <string>{76,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,276},{350,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,650},{346,204}}</string>
                <key>offset</key>
                <string>{76,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,275},{346,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{346,210}}</string>
                <key>offset</key>
                <string>{74,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,268},{346,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{344,216}}</string>
                <key>offset</key>
                <string>{73,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,262},{344,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{342,208}}</string>
                <key>offset</key>
                <string>{71,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,253},{342,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,204},{332,198}}</string>
                <key>offset</key>
                <string>{71,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,246},{332,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,402},{322,186}}</string>
                <key>offset</key>
                <string>{70,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,240},{322,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1502},{314,174}}</string>
                <key>offset</key>
                <string>{70,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,234},{314,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1500},{308,178}}</string>
                <key>offset</key>
                <string>{71,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,230},{308,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1370},{234,254}}</string>
                <key>offset</key>
                <string>{61,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,188},{234,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,818},{300,132}}</string>
                <key>offset</key>
                <string>{72,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,266},{300,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1154},{94,116}}</string>
                <key>offset</key>
                <string>{9,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,272},{94,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,488},{86,112}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,265},{86,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,436},{46,44}}</string>
                <key>offset</key>
                <string>{-9,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,322},{46,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,654},{40,40}}</string>
                <key>offset</key>
                <string>{-8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,306},{40,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,818},{36,36}}</string>
                <key>offset</key>
                <string>{-9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,289},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,204},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1370},{218,256}}</string>
                <key>offset</key>
                <string>{54,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,176},{218,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,1148},{218,248}}</string>
                <key>offset</key>
                <string>{50,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,174},{218,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1396},{214,250}}</string>
                <key>offset</key>
                <string>{47,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,172},{214,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Siheng_dead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1154},{218,252}}</string>
                <key>offset</key>
                <string>{47,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,170},{218,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Siheng_dead.png</string>
            <key>size</key>
            <string>{1960,1678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbe18b80d85ff75df4a9ea32328af8c5:1/1$</string>
            <key>textureFileName</key>
            <string>Siheng_dead.png</string>
        </dict>
    </dict>
</plist>
