<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zf_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1814},{166,174}}</string>
                <key>offset</key>
                <string>{-8,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,304},{166,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1582},{258,230}}</string>
                <key>offset</key>
                <string>{15,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,204},{258,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1750},{268,232}}</string>
                <key>offset</key>
                <string>{16,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,224},{268,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,968},{276,214}}</string>
                <key>offset</key>
                <string>{18,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,245},{276,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1184},{290,180}}</string>
                <key>offset</key>
                <string>{21,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,276},{290,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1556},{302,192}}</string>
                <key>offset</key>
                <string>{22,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,260},{302,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1524},{314,200}}</string>
                <key>offset</key>
                <string>{30,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,247},{314,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1370},{324,210}}</string>
                <key>offset</key>
                <string>{33,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,234},{324,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1326},{332,228}}</string>
                <key>offset</key>
                <string>{35,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,221},{332,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{338,222}}</string>
                <key>offset</key>
                <string>{37,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,226},{338,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1304},{346,218}}</string>
                <key>offset</key>
                <string>{36,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,231},{346,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1762},{174,206}}</string>
                <key>offset</key>
                <string>{3,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,275},{174,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1118},{352,206}}</string>
                <key>offset</key>
                <string>{37,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,244},{352,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1104},{360,198}}</string>
                <key>offset</key>
                <string>{37,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,259},{360,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,934},{364,182}}</string>
                <key>offset</key>
                <string>{35,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,274},{364,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{366,182}}</string>
                <key>offset</key>
                <string>{34,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,273},{366,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{368,182}}</string>
                <key>offset</key>
                <string>{34,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,275},{368,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,748},{370,184}}</string>
                <key>offset</key>
                <string>{34,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,274},{370,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,738},{372,184}}</string>
                <key>offset</key>
                <string>{34,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,274},{372,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,562},{372,184}}</string>
                <key>offset</key>
                <string>{34,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,274},{372,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,376},{374,184}}</string>
                <key>offset</key>
                <string>{35,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,274},{374,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{376,184}}</string>
                <key>offset</key>
                <string>{36,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,274},{376,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1750},{210,232}}</string>
                <key>offset</key>
                <string>{17,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,229},{210,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,374},{378,184}}</string>
                <key>offset</key>
                <string>{35,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,274},{378,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{382,176}}</string>
                <key>offset</key>
                <string>{35,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,275},{382,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,180}}</string>
                <key>offset</key>
                <string>{36,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,274},{382,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{382,178}}</string>
                <key>offset</key>
                <string>{35,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,275},{382,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{378,184}}</string>
                <key>offset</key>
                <string>{34,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,267},{378,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,180},{380,194}}</string>
                <key>offset</key>
                <string>{34,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,260},{380,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,182},{380,190}}</string>
                <key>offset</key>
                <string>{35,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,253},{380,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{380,182}}</string>
                <key>offset</key>
                <string>{34,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,247},{380,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,560},{374,176}}</string>
                <key>offset</key>
                <string>{32,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,239},{374,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{370,176}}</string>
                <key>offset</key>
                <string>{30,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,232},{370,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1750},{222,232}}</string>
                <key>offset</key>
                <string>{24,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,210},{222,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,924},{368,178}}</string>
                <key>offset</key>
                <string>{29,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,231},{368,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{354,132}}</string>
                <key>offset</key>
                <string>{22,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,266},{354,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1644},{110,116}}</string>
                <key>offset</key>
                <string>{22,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,272},{110,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1814},{102,114}}</string>
                <key>offset</key>
                <string>{23,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,264},{102,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1524},{46,46}}</string>
                <key>offset</key>
                <string>{48,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,321},{46,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1326},{42,42}}</string>
                <key>offset</key>
                <string>{48,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,304},{42,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1572},{36,36}}</string>
                <key>offset</key>
                <string>{48,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,289},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,368},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{220,236}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,186},{220,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{222,238}}</string>
                <key>offset</key>
                <string>{8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,178},{222,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,242},{232,244}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,170},{232,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,488},{242,234}}</string>
                <key>offset</key>
                <string>{12,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,177},{242,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zf_dead_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,724},{252,242}}</string>
                <key>offset</key>
                <string>{14,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,183},{252,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangfei_dead.png</string>
            <key>size</key>
            <string>{1386,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f346f1b8d830ec12cfa2d45d0e9c187b:1/1$</string>
            <key>textureFileName</key>
            <string>zhangfei_dead.png</string>
        </dict>
    </dict>
</plist>
