<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheet_372x305_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,1671},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,1297},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1671},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1297},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,923},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,923},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1671},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1297},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,923},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,616},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,616},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1738},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1364},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,990},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,616},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1738},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1364},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,990},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,616},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,309},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,309},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,309},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,309},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1431},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1057},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
            <key>sheet_372x305_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,305}}</string>
                <key>sourceSize</key>
                <string>{372,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombi_lv1_dead.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d678e9957a2f10422ca9884fdb2d0d8:1/1$</string>
            <key>textureFileName</key>
            <string>zombi_lv1_dead.png</string>
        </dict>
    </dict>
</plist>
